.page {
 height: 100vh;
 width: 100%;
 position: relative;
 background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg");
 background-size: cover;
}

.page2 {
 height: 100vh;
 width: 100%;
 position: relative;
}

.page3 {
 height: 100vh;
 width: 100%;
 position: relative;
 background-color: #ffefa0;
}

.form-login {
 width: 100%;
 max-width: 400px;
 padding: 15px;
 margin: auto;
 position: absolute;
 top: 45%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;

 /* transform: scale(1); */
}

.form-signin {
 width: 75%;
 max-width: 600px;

 margin: auto;
 position: absolute;
 top: 55%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 /* background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
 transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25); */
 /* transform: scale(1); */
}

.div-signin {
 width: 85%;
 max-width: 700px;
 font-size: 20px;

 margin: auto;
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

.div-signin p {
 font-size: 20px;
}

.query {
 max-width: 100%;
}

.hbtn {
 color: white;
 background-color: #00af91;
 padding-left: 1px;
 padding-right: 1px;
}

.winput {
 display: block;
 margin-bottom: 10px;
 margin-left: 0px;
 background: transparent;
 border: none;
 border-bottom: 1px solid black;
 outline: none;
 box-shadow: none;

 border-radius: 0;
}

.form-signin .form-control {
 position: relative;
 box-sizing: border-box;
 height: auto;
 padding: 10px;
 font-size: 16px;
}
.form-signin .form-control:focus {
 z-index: 2;
 /* background: transparent;
 border: none;
 border-bottom: 1px solid white;
 outline: none;
 box-shadow: none;
 color: white;
 border-radius: 0; */
}
.form-signin .name {
 margin-bottom: 0px;
 margin-left: 0px;
 background-color: white;
 /* background: transparent;
 border: none;
 border-bottom: 1px solid white;
 outline: none;
 box-shadow: none;
 color: white;*/
 border-radius: 0;
}

.form-signin .name::placeholder {
 color: #c8c2bc;
}

.dname {
 height: 50px;
}

.card-header {
 position: relative;
}

.btn-outline-danger {
 position: absolute;
 right: 10px;
 top: -10px;
 height: 50px;
}

.btn-form {
 background-color: red;
 color: #ffefa0;
 width: 50%;
 height: 70px;
 font-size: 40px;
 position: absolute;
 top: 90%;
 left: 50%;
 transform: translate(-50%, -50%);
 border: 10px solid black;
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}

.poster {
 width: 100%;
 height: 100vh;
}

.form-head {
 width: 100%;
 height: 150px;
 background-color: #343f56;
 color: white;
 font-size: 50px;
 position: relative;
}

.video-container {
 overflow: hidden;
 position: relative;
 width: 100%;
 height: 100vh;
}

.video-container::after {
 padding-top: 56.25%;
 display: block;
 content: "";
}

.nav-bar {
 display: none;
}

.video-overlay {
 width: 100%;
 height: 100vh;
 position: absolute;
 z-index: 1;
 top: 0;

 background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.20351890756302526) 20%, rgba(10, 28, 47, 1) 80%);
}

.video-container video {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: auto;
 z-index: 0;
}

.icons-overlay {
 position: absolute;
 top: 3%;
 right: 5%;
 z-index: 3;
 text-align: center;
 display: block;
}

.text-overlay {
 position: absolute;
 bottom: 45%;
 z-index: 3;
 right: 10%;
 font-size: 25px;
 color: white;
 text-align: center;
}

.text-overlay h1 {
 font-size: 80px;
}

.text-overlay p {
 max-width: 600px;
 width: 100%;
 font-size: 23px;
}

.btn-sample {
 display: inline-block;
 font-weight: 400;
 line-height: 1.5;
 color: white;
 text-align: center;
 text-decoration: none;
 vertical-align: middle;
 cursor: pointer;
 -webkit-user-select: none;
 user-select: none;
 background-color: #e0208d;
 border: 1px solid transparent;
 padding: 0.375rem 0.75rem;
 font-size: 1rem;
 border-radius: 0.25rem;
 transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.carousel-wrapper {
 position: absolute;
 height: 1px;
 width: 100%;
 bottom: 200px;
}

.carousel {
 z-index: 2;
}

.crop {
 width: 100%;
 height: auto;

 overflow: hidden;
}

.crop img {
 width: 98%;
 height: auto;
 margin-top: -40px;
 margin-bottom: -45px;
}

@media only screen and (max-width: 600px) {
 .poster {
  height: auto;
 }
 .form-head {
  height: 80px;
  font-size: 30px;
 }

 .div-signin {
  top: 25%;
 }
 .div-signin p {
  font-size: 16px;
 }

 .btn-form {
  height: 40px;
  font-size: 20px;
  border: 5px solid black;
 }
 .nav-bar {
  display: block;
 }
 .icons-overlay {
  display: none;
 }
 .video-overlay {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.60351890756302526), rgba(10, 28, 47, 1));
 }
 .carousel-wrapper {
  bottom: 32%;
 }
 .text-overlay {
  bottom: 38%;
  right: 0;
 }

 .text-overlay h1 {
  font-size: 50px;
 }
 .text-overlay p {
  font-size: 20px;
 }
 .crop img {
  margin-top: -35px;
 }

 .video-container video {
  top: 8%;
 }
}
